header{

    background-color: pink;
}

nav{

    background-color: aquamarine;
    
}
span.text_verd{

    color: green;
}
p.divendres{

    color: red;
}
.hoy{
    color: green;
}
span.hoy{
    color:green
}