div.bloc1{

    color: red;
    background-color: blue;
}
p.dia{
    background-color: pink;
}
span.hola{
    background-color: aquamarine;
}

div.bloc2{

    color: green;
    background-color: yellow;
}
